<p class="h5 fw-bold">Tips to increase soil productivity</p>
<br />
<div class="container border border-secondary border-3 pt-4 fw-bold rounded shadow">
  <ul class="text-start p-lg-4" style="list-style-type: '+ '">
    <li>&emsp;Add Compost</li>
    <br />
    <li>&emsp;Get a soil test</li>
    <br />
    <li>&emsp;Mulch the soil surface</li>
    <br />
    <li>&emsp;Prevent soil compaction</li>
    <br />
    <li>&emsp;Rotate crops each year</li>
  </ul>
</div>
