<p class="h5 fw-bold text-decoration-underline text-uppercase">Know the soil</p>
<div class="container border border-secondary border-3 pt-2 rounded shadow" >
  <table class="table table-success table-striped shadow">
    <thead>
      <tr>
        <th class="col-4">Soil Type</th>
        <th class="col-8">Suitable For</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Loamy</td>
        <td>Climbers and Berries</td>
      </tr>
      <tr>
        <td>Chalky</td>
        <td>Spinach, Cabbage and Sweet Corn</td>
      </tr>
      <tr>
        <td>Peaty</td>
        <td>Root Crops and Broccoli</td>
      </tr>
      <tr>
        <td>Silty</td>
        <td>Climbers and Vegetables</td>
      </tr>
      <tr>
        <td>Sandy</td>
        <td>Cabbage and Peas</td>
      </tr>
      <tr>
        <td>Clay</td>
        <td>Fruits and Flowers</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<p class="h5 fw-bold text-decoration-underline text-uppercase">Tips to increase soil productivity</p>
<div class="container border border-secondary border-3 pt-4 fw-bold rounded shadow" >
  <ul class="text-start" style="list-style-type: '+ '">
    <li class="pb-2">&emsp;Add Compost</li>
    <li class="pb-2">&emsp;Get a soil test</li>
    <li class="pb-2">&emsp;Mulch the soil surface</li>
    <li class="pb-2">&emsp;Prevent soil compaction</li>
    <li class="pb-2">&emsp;Rotate crops each year</li>
  </ul>
</div>
