<div class="d-flex justify-content-center">
    <ul class="list-group col-8">
    <% @conversations.each do |convo| %>
        <li class="list-group-item border-2 border-secondary text-start rounded shadow d-flex align-items-center">
            <%= image_tag "#{convo.receiver_id}.png", size: "35", class: "rounded-circle" %>
            <%= link_to "#{get_user(convo.receiver_id).first_name} #{get_user(convo.receiver_id).last_name}", "messages/#{convo.receiver_id}", class: "text-decoration-none ps-3" %>
        </li>
        <br />
    <% end %>
    </ul>
</div>