<div class="d-flex justify-content-center">
    <ul class="list-group col-8">
        <li class="list-group-item border-2 border-dark text-start rounded">A</li>
        <br />
        <li class="list-group-item border-2 border-dark text-start rounded">B</li>
        <br />
        <li class="list-group-item border-2 border-dark text-start rounded">C</li>
        <br />
        <li class="list-group-item border-2 border-dark text-start rounded">D</li>
        <br />
        <li class="list-group-item border-2 border-dark text-start rounded">E</li>
        <br />
        <li class="list-group-item border-2 border-dark text-start rounded">F</li>
    </ul>
</div>