<p class="fs-4 my-4 fw-bold">Online</p>
<ul class="list-group">
    <li class="list-group-item border-2 border-secondary text-start rounded">A</li>
    <li class="list-group-item border-2 border-secondary text-start rounded">B</li>
    <li class="list-group-item border-2 border-secondary text-start rounded">C</li>
    <li class="list-group-item border-2 border-secondary text-start rounded">D</li>
    <li class="list-group-item border-2 border-secondary text-start rounded">E</li>
</ul>