<div class="col-3"></div>
<div class="col-9 d-flex">
    <div class="col-8 p-5">
        <p class="fs-4 fw-bold">Conversations</p>
        <br />
        <%= render "messages/conversations" %>
    </div>
    <div class="col-4"></div>
    <div class="col-3 border-3 border-start border-dark position-fixed p-5 text-center" style="height: 100% !important; top: 0; right:0;">
        <%= render "messages/sidebar" %>
    </div>
</div>