<div class="border border-2 border-secondary rounded shadow">
    <p class="fs-5 fw-bold p-2 border-bottom border-2 border-secondary"> &emsp; Uploads</p>
    <div class="d-flex justify-content-center">
        <%= render "feeds/feeds" %>
    </div>
</div>