<div class="col-3"></div>
<div class="col-9">
    <div class="col-9 d-flex">

    </div>
    <div class="col-3"></div>
    <div class="col-3 position-fixed d-flex flex-column justify-content-evenly align-items-center" style="height: 100% !important; right: 0; top: 0;">
        <div>
            <%= image_tag("shobhit.jpg", size: "200", class: "rounded-circle") %>
        </div>
        <div class="border rounded">
            <p>Name : </p>
            <p>Name : </p>
            <p>Name : </p>
        </div>
    </div>
</div>

