<div class="col-10 border border-dark rounded shadow py-3">
    <div class="fs-5 fw-bold text-center">New Post</div>
    <hr />
    <%= form_with model: @feed, class: "d-flex justify-content-evenly align-items-center" do |form| %>
        <%= form.hidden_field :user_id, value: Current.user.id %>
        <div class="text-start">
            <%= form.text_area :content, rows: 3, cols: 50, class: "form-control border-secondary", placeholder: "Type here  ..." %>
        </div>
        <div>
            <%= form.submit "Submit", class: "btn btn-primary fw-bold" %>
        </div>
    <% end %>
</div>