<div class="col-3 d-flex flex-column flex-shrink-0 py-3 text-center text-white bg-dark position-fixed" style="height: 100% !important; top: 0; left: 0;">
  <a href="/" class="d-flex text-white text-decoration-none">
    <span class="fs-4 mx-auto">Digi Farm</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <br>
    <li class="nav-item">
      <a href="/feeds" class="nav-link text-white active">
        Feeds
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Notifications
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Messages
      </a>
    </li>
    <br>
    <li class="nav-item">
      <!-- <a href="/discussions" class="nav-link text-white" >
        Discussions
      </a> -->
      <%= link_to "Discussions", discussions_path, class: "nav-link text-white" %>
    </li>
    <br>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Info Hub
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Profile
      </a>
    </li>
    <br>
  </ul>
  <hr>
  <a href="/" class="d-flex text-white text-decoration-none">
    <span class="fs-5 mx-auto btn btn-sm btn-light">Sign out</span>
  </a>
</div>