<div class="col-9 mx-auto">
    <%= form_for([@discussion, @discussion.answers.build], html: { class: "d-flex justify-content-between align-items-end" }) do |form| %>
        <%= form.hidden_field :user_id, value: Current.user.id %>
        <br />
        <div class="text-start col-9">
            <%= form.text_field :content, class: "form-control border-secondary", placeholder: "Add your answer ..." %>
        </div>
        <br />
        <div>
            <%= form.submit "Submit", class: "btn btn-primary fw-bold" %>
        </div>
    <% end %>
</div>